@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="container mt-5 text-center">
    <h1 class="text-danger">403 - Yasak Bölge</h1>
    <p class="lead">Üzgünüz, bu sayfayı görüntülemek için yetkiniz (IT Departmanı) bulunmamaktadır.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Anasayfaya Dön</a>
</div>